GOOGLE_GENAI_USE_VERTEXAI=TRUE
GOOGLE_CLOUD_PROJECT=<project id>
GOOGLE_CLOUD_LOCATION=global
GOOGLE_API_KEY=<google api key for ai studio>
MAPS_API_KEY=<google maps api key>
GITHUB_PERSONAL_ACCESS_TOKEN=<github token>
MCP_TOOLBOX_URL=<toolbox url>
MODEL_ID=<model id>
